MilkShake.xcodeproj/project.xcworkspace/xcshareddata/MilkShake.xccheckout
MilkShake.xcodeproj/project.xcworkspace/xcuserdata/davidweissler.xcuserdatad/UserInterfaceState.xcuserstate
MilkShake.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/MilkShake.xcscheme
MilkShake.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/xcschememanagement.plist
